//日历控件样式表
a:active{
  outline: 0;
}
.ui-date .ui-date-year-options, .ui-date .ui-date-month-options, .ui-date .ui-date-datatime{
  margin: 0 auto;
}
.ui-date {
  -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.075),0 0 20px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.075),0 0 20px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 10px rgba(0,0,0,0.075),0 0 20px rgba(82,168,236,0.6);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 2px solid #9fcee5;
  position: absolute;
  z-index: 100;
  background-color: #f8fcfe;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  width: 300px;
  padding: 20px 0;
  display: none;
  _overflow: hidden;
}
.ui-date a{
  color: #666;
  text-decoration: none;
  outline: none;
}
.ui-date .ui-date-container{
  position: relative;
  font-weight: bold;
}
.ui-date .ui-date-select{
  background: #fff;
}
.ui-date .ui-date-text{
  height: 24px;
  line-height: 24px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
}
.ui-date .ui-date-select .ui-date-year, .ui-date .ui-date-select .ui-date-month{
  border: 1px solid #9fcee5;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.ui-date .ui-date-select .ui-date-year .ui-date-arrow, .ui-date .ui-date-select .ui-date-month .ui-date-arrow{
  background: #008fc7;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 4px;
}
.ui-date .ui-date-select .ui-date-year .ui-date-arrow:hover, .ui-date .ui-date-select .ui-date-month .ui-date-arrow:hover{
  background: #006a94;
}
.ui-date .ui-date-select a:hover .ui-date-arrow{
  background: #006a94;
}
.ui-date .ui-date-year-options a:hover, .ui-date .ui-date-month-options a:hover, .ui-date .ui-date-datatime a:hover{
  background-color: #d7eff8;
  text-decoration: none;
  color: #0090C7;
}
.ui-date .ui-date-select .ui-date-year .ui-date-arrow .ui-date-arrow-blank, .ui-date .ui-date-select .ui-date-month .ui-date-arrow .ui-date-arrow-blank{
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  _border-style: solid dashed dashed dashed;
  border-width: 5px;
  margin: 0 auto;
}
.ui-date .ui-date-year-options, .ui-date .ui-date-month-options{
  display: none;
  background: #fff;
  border: 1px solid #9fcee5;
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.075),0 0 10px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.075),0 0 10px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.075),0 0 10px rgba(82,168,236,0.6);
  position: relative;
  padding: 10px;
}

.ui-date .ui-date-year-options .ui-date-slideleft, .ui-date .ui-date-month-options .ui-date-slideleft{
  left: 0;
  border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
}
.ui-date .ui-date-year-options .ui-date-slideleft, .ui-date .ui-date-year-options .ui-date-slideright, .ui-date .ui-date-month-options .ui-date-slideleft, .ui-date .ui-date-month-options .ui-date-slideright{
  top: 55px;
  position: absolute;
  z-index: 105;
  width: 20px;
  display: block;
  overflow: hidden;
  padding: 15px 0;
  _height: 0;
}
.ui-date .ui-date-year-options .ui-date-slideright, .ui-date .ui-date-month-options .ui-date-slideright{
  right: 0;
  border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
}
.ui-date .ui-date-year-options .ui-date-slideleft:hover, .ui-date .ui-date-year-options .ui-date-slideright:hover, .ui-date .ui-date-month-options .ui-date-slideleft:hover, .ui-date .ui-date-month-options .ui-date-slideright:hover{
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.ui-date .ui-date-year-options span, .ui-date .ui-date-year-options a, .ui-date .ui-date-month-options span, .ui-date .ui-date-month-options a, .ui-date .ui-date-datatime span, .ui-date .ui-date-datatime a{
  margin: 3px;
  width: 12%;
  color: #666;
  line-height: 25px;
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: middle;
}
.ui-date .ui-date-year-options .ui-date-slideup:hover, .ui-date .ui-date-month-options .ui-date-slideup:hover{
  background: #006a94;
}
.ui-date .ui-date-year-options a{
  width: 28%;
  line-height: 40px;
}
.ui-date .ui-date-year-options .ui-date-slideleft .ui-date-arrow, .ui-date .ui-date-year-options .ui-date-slideright .ui-date-arrow, .ui-date .ui-date-month-options .ui-date-slideleft .ui-date-arrow, .ui-date .ui-date-month-options .ui-date-slideright .ui-date-arrow{
  position: absolute;
  top: 9px;
  left: 0;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-color: transparent #999 transparent transparent;
  border-style: solid;
  _border-style: dashed solid dashed dashed;
  border-width: 6px;
  cursor: pointer;
}
.ui-date .ui-date-year-options .ui-date-slideright .ui-date-arrow, .ui-date .ui-date-month-options .ui-date-slideright .ui-date-arrow{
  left: auto;
  right: 0;
  border-color: transparent transparent transparent #999;
  border-style: solid;
  _border-style: dashed dashed dashed solid;
}
.ui-date .ui-date-year-options .ui-date-slideup, .ui-date .ui-date-month-options .ui-date-slideup{
  margin: 0;
  position: absolute;
  left: 95px;
  bottom: -10px;
  height: 10px;
  width: 60px;
  overflow: hidden;
  background: #008fc7;
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.075),0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.075),0 0 10px rgba(0,0,0,0.6);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.075),0 0 10px rgba(0,0,0,0.6);
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
.ui-date .ui-date-year-options .ui-date-slideup .ui-date-slideup-arrow, .ui-date .ui-date-month-options .ui-date-slideup .ui-date-slideup-arrow{
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  _border-style: dashed dashed solid dashed;
  border-width: 5px;
  margin: 0 auto;
  margin-top: -3px;
  cursor: pointer;
}
.ui-date .ui-date-year-options .ui-date-year-option{
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.ui-date .ui-date-year-options span.ui-date-datatime-selected, .ui-date .ui-date-year-options a.ui-date-datatime-selected, .ui-date .ui-date-month-options span.ui-date-datatime-selected, .ui-date .ui-date-month-options a.ui-date-datatime-selected, .ui-date .ui-date-datatime span.ui-date-datatime-selected, .ui-date .ui-date-datatime a.ui-date-datatime-selected{
  background-color: #f08257;
  color: #fff;
}
.ui-date .ui-date-month-options a{
  width: 20%;
  line-height: 40px;
}
.ui-date .ui-date-datatime{
  padding-top: 10px;
}
.ui-date .nor{
  font-weight: normal;
}
.nor{
  font-weight: normal;
}
.ui-date .ui-date-datatime span{
  font-size: 13px;
}
.yui3-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
}
.yui3-u {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.ui-date .ui-date-year-options .ui-date-year-option .ui-date-year-option-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}
.ui-date .ui-date-year-options .ui-date-year-option .ui-date-year-option-inner div {
  white-space: normal;
}
.w-1-2{
  width: 50%;
}
.w-1-3{
  width: 33.33333%;
}
.w-2-3{
  width: 66.66666%;
}
.w-1-4{
  width: 25%;
}
.w-3-4{
  width: 75%;
}
.w-1-5{
  width: 20%;
}
.w-3-5{
  width: 60%;
}
.w-4-5{
  width: 80%;
}
.w-5-6{
  width: 83.33%;
}
.w-11-12{
  width: 91.6666%;
}
.w-19-24{
  width: 79.1666%;
}

.w-1-2,.w-1-3,.w-2-3,.w-1-4,.w-3-4,.w-1-5,.w-3-5,.w-4-5,.w-5-6,.w-11-12,.w-19-24{
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
